* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 22px;
  color: whitesmoke;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 20px;
  text-align: center;
}

p,
a {
  font-size: 18px;
}

/* Navegacion */

.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  padding: 1em;
  background-color: #042b3b;
  color: white;
}

.navbar li {
  margin-right: 4em;
}

.navbar a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  list-style: none;
}

/* Presentacion */

.presentacion {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-presentacion p {
  margin-bottom: 0.2em;
}

.bloque-presentacion {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.texto-presentacion {
  margin-left: 2.5em;
}

.profile {
  border: #b8a597 10px double;
  border-radius: 50%;
  width: 12em;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.2);
}

.p-tittle {
  color: #3cadbd;
}

/* Sobre mi */

.about-me {
  padding-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f6f5f5;
  padding-bottom: 3em;
}

.about-tittle {
  margin-left: 6em;
  margin-right: 6em;
}

.about-tittle h2 {
  margin-bottom: 1em;
}

.about-p {
  padding: 3em;
  background-color: #a8c9d0;
  border-radius: 25% 10%;
  max-width: 35em;
}

.about-p p {
  margin: 0.5em;
}

.icono-about-me {
  width: 10em;
}

.about-me p {
  text-align: center;
}

.iconos-about-me {
  background-color: #f6f5f5;
  text-align: center;
  padding-bottom: 3em;
}

.iconos-about-me h2 {
  margin-bottom: 1em;
}

.iconos-about-me img {
  width: 4em;
  margin: 1em;
}

.cv-about-me {
  background-color: #f6f5f5;
  text-align: center;
  padding-bottom: 2em;
}

.cv-about-me h2 {
  margin-bottom: 1em;
}

.button {
  display: inline-block;
  padding: 8px;
  background-color: #3a7289;
  border-radius: 12px;
  color: white;
  border: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-bottom: 2em;
  cursor: pointer;
}

#pdf-container {
  display: none;
}

#close-button {
  display: none;
}

/* Proyectos */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: radial-gradient(
    circle,
    rgba(60, 173, 189, 1) 0%,
    rgba(5, 50, 69, 1) 62%,
    rgba(3, 4, 6, 1) 97%
  );
}

.projects-section-header {
  color: white;
}

.projects-section-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  border-radius: 2px;
  width: 450px;
  margin: 1em;
}

.project-image {
  width: 100%;
  object-fit: cover;
  margin-bottom: -5px;
}

.project-title {
  padding: 2rem 0.5rem;
  background-color: #203347;
  color: lightgrey;
  margin-bottom: 0.8em;
}

.project-title:hover {
  color: #ff7f50;
}

.projec-title,
a {
  text-decoration: none;
}

.technologies-container {
  width: 50%;
  margin: auto;
  background: #00000080;
  border-radius: 25px;
  padding: 8px;
}

.technologies {
  color: #e9ba38;
}

/* pie de pagina */

footer {
  background-color: #18191a;
  padding: 1.5em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.footer-enlaces {
  margin: 1.5em 0em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer img {
  width: 4em;
}

@media (max-width: 1250px) {
  .about-me {
    margin: 0;
    padding: 1.2em;
    display: flex;
    flex-direction: column;
  }

  .about-p {
    margin: auto;
  }

  .about-tittle {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .navbar {
    width: 100vw;
    padding: 1.5em;
    justify-content: space-around;
  }

  .navbar li {
    margin: 0em 1em 0em 1em;
  }

  .bloque-presentacion {
    display: flex;
    flex-direction: column;
  }

  .texto-presentacion {
    margin-left: 0;
    padding: 0.5em;
  }

  .profile {
    margin-bottom: 2em;
  }

  .about-p {
    padding: 1.5em;
  }

  .pdf {
    width: 100%;
    height: 540px;
  }
}
